@model IEnumerable<VendasSolutto.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cliente_cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade_pagamentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente_cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_venda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade_pagamentos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
